* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.page {
  height: 100vh;
  width: 100vw;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.witch-incantation {
  position: realtive; /* make my children position themselves relative to my real estate' */
  width: 100vw;
  height: 100vh;
}
.witch-incantation .bushes {
  height: 100vh;
  z-index: 0;
  opacity: 0.8;
}
.witch-incantation .witch {
  height: 60%;
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 1;
}

#prince-listening-draggable {
  position: relative;
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0%;
  left: 40%;
  cursor: move;
}

#prince-listening-draggable .bushes-move-left {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100vh;
}
#prince-listening-draggable .prince {
  position: absolute;
  left: 28%;
  bottom: 5%;
  z-index: 3;
  height: 80%;
}
#prince-listening-draggable .arrow-left {
  height: 50px;
  position: absolute;
  bottom: 2%;
  left: 36%;
  z-index: 5;
}
#prince-listening-draggable .arrow-right {
  height: 50px;
  position: absolute;
  bottom: 45%;
  left: 100%;
  z-index: 5;
}

/* START PAGE 2 witch-listening.html */
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#tower-couple {
  position: relative; /* make my kids position themselves relative to my size */
  position: absolute; /* absolutely position me inside #page2 */
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
#tower-couple .castle {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -1;
}
#page2 .prince {
  position: absolute;
  height: 60vh;
  bottom: 18%;
  left: 20%;
  z-index: 3;
}
#page2 .princess {
  position: absolute;
  bottom: 18%;
  left: 1%;
  z-index: 3;
  height: 65vh;
}

#witch-listening {
  position: relative; /* make my kids position themselves relative to my size */
  position: absolute; /* absolutely position me inside #page2 */
  left: 40%;
  top: 0;
}
#witch-listening .door {
  height: 100vh;
  z-index: 3;
}
#witch-listening .witch {
  height: 60vh;
  z-index: 4;
  position: absolute;
  right: 12%;
  bottom: 13%;
}
